@use "../abstracts";

html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(267%) hue-rotate(78deg) brightness(114%)
        contrast(100%);

    // Body
    body {
        --bg-color: #292e39;
    }

    // Header
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-seperate: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);
    --header-act-dropdown-bg: #2f3441;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #171c28;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    // Dropdown
    --dropdown-inner-bg-color: #2f3341;
    --dropdown-inner-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(32%) saturate(449%) hue-rotate(188deg)
        brightness(89%) contrast(86%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1722%) hue-rotate(191deg)
        brightness(98%) contrast(100%);
    --menu-column-text-color: #b9babe;

    // Slidebar
    --slidebar-bg: #292e39;
    --slidebar-shadow: rgba(23, 28, 40, 0.4);

    // Browse Categories
    --heading-color: #fff;
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // Browse Products
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    --like-btn-bg: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);
    --product-card-color: #fff;

    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-drop-shadow: rgba(0, 0, 0, 0.4);
    --form-label-text-color: #fff;
    --form-tag-bg: #171c28;
    --filter-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(32%) saturate(449%) hue-rotate(188deg)
        brightness(89%) contrast(86%);
    --filter-footer-bg: #292e39;
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3441;
    --form-option-hover-bg: #292e39;

    // Auth
    --auth-intro-bg: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-content-bg: #292e39;
    --auth-content-text-color: #b9babe;
    --auth-content-text-input-color: #b9babe;

    // Product detail
    --product-detail-bg: #292e39;
    --product-detail-info-bg: #171c28;
    --product-detail-info-content-bg: transparent;
    --product-detail-tag-bg: #292e39;

    // Search bar
    --search-bar-bg: #171c28;

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    // Review card
    --review-card-bg: #171c28;

    // Text content
    --text-content-hr-bg: #3e4043;

    // Checkout
    --checkout-breadcrumbs-bg: #171c28;
    --checkout-cart-info-bg: #171c28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-gift-shadow: rgba(23, 28, 40, 0.2);
    --checkout-payment-item-bg: #292e39;

    // Dialog
    --dialog-bg: #2f3441;
    --dialog-shadow: rgba(23, 28, 40, 0.4);

    // Profile
    --profile-sidebar-bg: #171c28;
    --profile-sidebar-shadow: rgba(23, 28, 40, 0.2);
    --profile-sidebar-link-hover: #2f3441;

    // Account info
    --account-info-bg: #292e39;
    --account-info-icon-bg: #171c28;
    
    // Separate
    --separate-color: #292e39;

    // Responsive
    @include abstracts.screen(lg) {
        --header-bg-color: #171c28;
        --header-shadow: rgba(0, 0, 0, 0.2);
    }

    @include abstracts.screen(md) {
        --auth-intro-bg: #171c28;

        --product-detail-bg: #292e39;
        --product-detail-info-bg: transparent;
        --product-detail-info-content-bg: #171c28;

        --breadcrumbs-bg: #171c28;
    }
}
