@use "../abstracts";

html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(3%)
        saturate(267%) hue-rotate(78deg) brightness(114%) contrast(100%);

    // Body
    body {
        --bg-color: #292e39;
    }

    // Header
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-seperate: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-inner-bg-color: #2f3341;
    --dropdown-inner-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(32%)
        saturate(449%) hue-rotate(188deg) brightness(89%) contrast(86%);
    --top-menu-border-color:#171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%)
        saturate(1722%) hue-rotate(191deg) brightness(98%) contrast(100%);
    --menu-column-text-color: #B9BABE;

    // Responsive
    @include abstracts.breakPoint(lg) {
        --header-bg-color: #171c28;
        --header-shadow: rgba(0, 0, 0, 0.20);
    }
}
