@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(26%) saturate(4471%) hue-rotate(234deg) brightness(95%)
        contrast(91%);
    // Body
    body {
        --bg-color: #f6f6f6;
    }

    // Header
    --header-bg-color: #eeeeee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-seperate: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // Footer
    --footer-bg-color: var(--header-bg-color);

    // Dropdown
    --dropdown-inner-bg-color: #fff;
    --dropdown-inner-shadow: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: #fff;
    --top-menu-border-color: #d2d1d6;

    // Slidebar
    --slidebar-bg: #fff;
    --slidebar-shadow: rgba(200, 200, 200, 0.4);

    // Browse Categories
    --heading-color: #1a162e;
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;
    --cate-item-desc-color: #1a162e;

    // Browse Products
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --like-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);
    --product-card-color: #1a162e;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-drop-shadow: rgba(200, 200, 200, 0.4);
    --form-label-text-color: #1a162e;
    --form-tag-bg: #f8f8fb;
    --filter-footer-bg: #fff;

    // Auth
    --auth-intro-bg: #fafafd;
    --auth-intro-text-color: #1a162e;
    --auth-content-bg: #fff;
    --auth-content-text-color: #1a162e;
    --auth-content-text-input-color: #d2d1d6;

    // Product detail
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-info-content-bg: #fff;
    --product-detail-tag-bg: #ededf6;

    // Search bar
    --search-bar-bg: #fff;

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    // Review card
    --review-card-bg: #fafafd;

    // Text content
    --text-content-hr-bg: #ebebeb;

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);

    // Dialog
    --dialog-bg: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);

    // Responsive
    @include abstracts.screen(lg) {
        --header-bg-color: #ffffff;
        --header-shadow: rgba(237, 237, 246, 0.2);
    }

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
        --auth-intro-bg: #fff;

        --product-detail-bg: #fafafd;
        --product-detail-info-bg: #fff;

        --breadcrumbs-bg: #fff;

        --review-card-bg: #fff;
    }
}
