@use "../abstracts";

.navbar {
    &__dropdown {
        position: absolute;
        left: 0;
        padding-top: 54px;
        width: min(1240px, 100%);
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease-in;

        @include abstracts.breakPoint(lg) {
            visibility: visible;
            opacity: 1;
            transition: initial;
            position: initial;
            padding-top: 0px;
        }
    }

    &__item {
        &:hover .navbar__dropdown {
            visibility: visible;
            opacity: 1;
        }

        @include abstracts.breakPoint(lg) {
            width: 100%;
        }
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background-color: var(--dropdown-inner-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-inner-shadow);

        &::before {
            content: url(../icons/Polygon-1.svg);
            position: absolute;
            top: -12px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.breakPoint(lg) {
            border-radius: 0px;
            background-color: transparent;
            box-shadow: none;
            padding: 0px 40px;

            &::before {
                content: none;
            }
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - (var(--inner-padding) * 2));

    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakPoint(lg) {
            width: 100%;
            height: auto;
            border-right: 0px;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    &__icon {
        width: 36px;
        height: 36px;
        position: relative;
        flex-shrink: 0;

        @include abstracts.breakPoint(xl) {
            display: none;
        }

        @include abstracts.breakPoint(lg) {
            display: block;
        }
    }

    &__icon-1,
    &__icon-2 {
        object-fit: contain;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
    }

    &__icon-2 {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 0;
        right: 0;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 4px;
        @include abstracts.breakPoint(lg) {
            margin-bottom: 19px;
        }
    }

    &__list {
        margin-top: 15px;

        @include abstracts.breakPoint(lg) {
            margin-top: 10px;
        }
    }

    &__item:hover .sub-menu {
        display: grid;
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42857;
        color: var(--menu-column-text-color);
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--inner-padding);
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    padding-left: var(--inner-padding);
    overflow-y: auto;

    @include abstracts.breakPoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
        display: block;
        padding-left: 0;
    }

    &__column {
        @include abstracts.breakPoint(lg) {
            margin-top: 14px;
        }
    }

    &--not-main {
        position: initial;
        display: grid;
        inset: initial;
        max-height: var(--max-inner-height);
        grid-template-columns: repeat(4, 1fr);
        padding-left: 0;
    }
}
