.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 53px;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-drop-shadow));

    &__arrow {
        height: 20.5px;
        position: absolute;
        top: -18px;
        right: 22px;
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            color: var(--form-label-text-color);
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.45455;

            &--small {
                color: var(--form-label-text-color);
                font-size: 1.4rem;
                line-height: 1.42857;
                margin-bottom: 10px;
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #d2d1d6;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 22px;
                height: 22px;
                top: 50%;
                translate: 0 -50%;
                border-radius: 50%;
                background-color: var(--filter-form-bg);
                border: 6px solid #ffb700;
            }

            &::after {
                left: var(--max-value);
            }

            &::before {
                left: var(--min-value);
            }
        }

        &-select-wrap,
        &-text-input {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            overflow: hidden;
            display: flex;
            align-items: center;
            width: 334px;
            height: 44px;
            padding: 0 16px;
            

            &--small {
                width: 121px;
                height: 36px;
                padding: 8px 12px;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
        }

        &-input {
            width: 100%;
            color: var(--form-label-text-color);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46667;
            background-color: transparent;

            &::placeholder {
                font-weight: 400;
                color: #9E9DA8;
            }
        }

        &-input-icon {
            margin-left: 12px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            padding: 0 14px;
            color: var(--form-label-text-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42857;
            cursor: pointer;
        }

        &-select + &-select {
            border-left: 1px solid #d2d1d6;
        }

        &-select-arrow {
            width: 24px;
            height: 24px;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 20px;
        }

        &-tag {
            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42857;

            border-radius: 6px;
            background: var(--filter-form-tag-bg);
            padding: 6px 12px;

            transition: color 0.2s;
            &:hover {
                color: var(--form-label-text-color);
            }
        }
    }

    &__heading {
        color: var(--form-label-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45455;
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background-color: #eee;
    }

    &__footer {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
    }

    &__cancel, &__submit {
        height: 38px;
        padding: 0 10px;
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
    }
}
